# Node.js dependencies
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# macOS
.DS_Store
*.pem

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# TypeScript
*.tsbuildinfo

# Testing
coverage/

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary files
*.log
logs
*.log.*
.npm
.eslintcache

# Build files
build/
dist/
out/

# Supabase
.supabase/

# Expo
.expo/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Android/IntelliJ
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# iOS
pods/
Pods/
*.xcworkspace
*.xcodeproj
xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Temporary files created by Metro
.metro-health-check*
